.eye {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  bottom: 100px;
  width: 90px;
  height: 90px;
  border: 5px solid black;
  border-radius: 50%;
  background: black;
  overflow: hidden;
  z-index: 1;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 50%;
    width: calc(100% + 20px);
    width: 100%;
    content:'';
    background: #fff;
    z-index: 1;
    animation: blink 5s infinite linear;
    animation-delay: 2s;
  }
  &__watcher {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    border: 10px solid black;
    z-index: 10;
  }
}
@keyframes blink {
  0% {
    transform: rotateX(0);
  }
  10% {
    transform: rotateX(90deg);
  }
  20% {
    transform: rotateX(0);
  }
}
@keyframes clr {
  0% {
    background: red;
  }
  50% {
    background: yellow;
  }
  100% {
    background: green;
  }
}
