.main-header {
  margin-bottom: 40px;
}
.main-logo {
  &__link {
    display: inline-block;
    max-width: 356px;
    height: auto;
    margin-bottom: 40px;
  }
  &__img {
    width: 100%;
    height: auto;
  }
}
