.main-book {
  position: relative;
  margin-bottom: 60px;
  &__img-wrap {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    box-shadow: 5px 0 5px 0 gray;
    margin-bottom: 40px;
  }
  &__description {
    font-size: 2.2rem;
    line-height: 1.5;
    a {
      display: inline-block;
      width: 100%;
      color: #fc5454;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
