.search {
  width: 100%;
  max-width: 356px;
  margin: 0 auto;
  &__label {
    display: inline-block;
    width: 85%;
    margin-right: 2%;
  }
  &__input {
    font-size: 15px;
    width: 100%;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 15px 10px 35px;
    border: 1px solid $light-gray;
    box-shadow: inset 0 1px 3px 0 $light-gray;
    text-overflow: ellipsis;
  }
  &__submit {
    width: 10%;
  }
}
