html {
  font-size: 10px;
  @media screen and (min-width: 320px) {
    font-size: calc(10vw/3.2);
  }
  @media screen and (min-width: 640px) {
    font-size: 20px;
  }
}
body {
	font-family: Arial, sans-serif;
	color: $dark-gray;
}

h1 {
}

.wrapper {
  padding: 40px 10px;
  text-align: center;
}

.section-title {
  color: $black;
  font-size: 3.8rem;
  margin-bottom: 40px;
}
